.wrapper {
    h1{
        text-align: center;
    }
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg {
    // background-image: url('/static/shaver.jpg');
    // // background-size: ;
    // // background-repeat: ;

}